/* src/App.css */
.App {
  font-family: sans-serif;
  /* text-align: center; */
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

#md {
  /* background-color: #f0f0f0; */
}

#tjs {
  height: 100vh; /* This section retains full viewport height for the Three.js scene */
  /* background-color: #e0e0e0; */
}


/*  */