.App {
  font-family: sans-serif;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#md {
  padding: 20px;
}

#tjs {
  height: 100vh;
}

.MuiTypography-root {
  /* Add custom styles for typography if needed */
}

.MuiGrid-root {
  padding: 20px;
}

.markdown-content a {
  color: inherit;
  text-decoration: none;
  margin: 1em auto;
	max-width: 100%;
	text-align: center;
}

.markdown-content {
  color: black;
}
